
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto&display=swap');

:root{
  --cor-de-fundo: #222831;
  --cor-do-fundo: #393E46;
  --cor-secundaria: #00ADB5;
  --cor-do-texto: #EEEEEE;
  --font: "Karla", sans-serif;
}
 body{
    background-color: var(--cor-de-fundo);
    font-family: var(--font);
    font-size: 20px;
    width: 100vw;
    height: 100vh;
 }

 .cabecalho{
  background-color: var(--cor-do-fundo);
  width: 100vw;
  text-align: center;
 }

 .cabecalho h1{
  font-size: 1.8em;
  color: var(--cor-secundaria);
  padding: 40px 10px 30px 10px;
 }

 .cabecalho nav{
  padding: 1.2rem 0 1.8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .cabecalho nav a {
  text-decoration: none;
  color: var(--cor-do-texto);
  margin: 0 1.1rem;
 }

 .cabecalho nav a:hover{
  font-size: 18px;
  text-decoration: underline;
  transition: 0.3s;
  cursor: pointer;
 }
 
 .graficos-container{
   max-width: 100vw;;
    margin: 5rem;
 }

 .graficos-container_texto{
  font-size: 1.2em;
  color: var(--cor-do-texto);
  text-align: justify;
  padding: 80px;
  border: 2px solid var(--cor-secundaria);
  
 }
 .grafico {
  background-color: var(--cor-de-fundo);
}
.graficos-container {
  display: flex;
  justify-content: center;  
  align-items: center;     
  flex-direction: column;
}
  
 span {
  font-weight: bold;
  color: var(--cor-secundaria);
 }

 footer{
  width: 100vw;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: var(--cor-do-fundo);
  color: var(--cor-do-texto);
  margin-top: 2rem;
 }


